BASE_URL=http://localhost:8000
ACCOUNTS_JSON_PATH=./example.accounts.json
AIOSTREAMS_CONFIG_PATH=./example.aiostreams-config.json

BASE_STREMIO_API_URL=https://api.strem.io/api
STREMIO_ACCOUNTS_JSON_PATH=./example.stremio_accounts.json

USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:140.0) Gecko/20100101 Firefox/140.0